DISCORD_TOKEN=MTE3NTY4OTk0OTcxOTMxMDQyOQ.GdUUMs.xpQNLRSq93BD9OFtLw7DaoOQfoBSIdGZ6uw23Y
MONGO_TOKEN=mongodb+srv://Naman:A4L1eEl7i9bevEgN@cluster0.ggexwih.mongodb.net/?retryWrites=true&w=majority
GIPHY_TOKEN=xsBNwSedRrwrwn1ZyjVRta93i00yhpiJ
WEBHOOK_ID=1175835094590685255
WEBHOOK_TOKEN=N1sWQFpjnLHVeojT6idfrCnLLFY7-zihNmGguUfY58koZpDh4Yn9agNOTfMtQteBUhyQ

# Not neccessary variables
DISCORD_STATUS="Listening to meself, I'm a stupid bot, https://github.com/corwindev/discord-bot"
RADIO=
TOPGG_TOKEN=
SPOTIFY_CLIENT_ID=6c31645ffb004ab8b44d06f7b96d1b66
SPOTIFY_CLIENT_SECRET=3618fdc0b4824cfd91a8d425dac32987
LAVALINK_HOST=lavalink.nextgenhosting.cloud
LAVALINK_PASSWORD=dsc.gg/nextgenhosting
LAVALINK_PORT=1234